.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main layout */
.main-layout {
  display: flex;
  flex: 1;
}

/* Sidebar */
.sidebar {
  /* width: 70px; */
  overflow: hidden;
  padding-right: 10px;
  height: calc(100vh - 70px); /* Full height minus header */
  position: sticky; /* Ensures it stays visible when scrolling the main content */
  top: 70px;
}

/* Main Content */
.main-content {
  flex: 1;
  padding-top: 70px;
  padding-left: 2%;
  transition: all 225ms ease-out;
}

@media (max-width: 560px) {
  .sidebar {
    display: none;
  }
  .main-content {
    padding-left: 0;
    display: flex;
    justify-items: center;
  }
}
