* {
  padding: 0;
  margin: 0;
}

.video-card {
  display: flex;
  flex-direction: column;
  width: 23%;
  margin: 10px;
  background-color: #121212;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease-in, box-shadow 0.2s ease-in-out;
}

/* Optional: Hover effect for the entire card */

.video-card-thumbnail {
  width: 100%;
  height: 100%;
  min-height: 186.425px;
  border-radius: 14px;
  overflow: hidden;
  position: relative;
  /* transition: border-radius 0.3s ease-in-out; */
}
.video-card-thumbnail:hover {
  transition: border-radius 0.3s ease-in-out;
  border-radius: 0;
}
/* Image style for the thumbnail */
.video-card-thumbnail img {
  width: 100%;
  height: 100%;
  min-height: 186.425px;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}
.video-preview {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hovered {
  display: block;
  object-fit: cover;
}
/* Hidden video preview when not hovered */
.video-card-thumbnail.hidden {
  display: none;
}

/* Video preview that will be shown on hover */
.video-card-video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  object-fit: cover;
}

/* When hovering, the video element fades in smoothly */
.video-card:hover .video-card-video {
  opacity: 1;
}

/* Video info styling */
.video-card-info {
  display: flex;
  padding: 10px;
  gap: 10px;
  background-color: #121212;
  color: #ffffff;
}

.video-card-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #404040;
}

.video-card-details {
  flex-grow: 1;
  max-width: 80%;
}

.video-card-title {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 5px 0;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.video-card-channel {
  font-size: 14px;
  color: #aaaaaa;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.video-card-meta {
  font-size: 14px;
  color: #757575;
  margin: 0;
}

/* Responsiveness */
@media (max-width: 1400px) {
  .video-card {
    width: 30%;
  }
}

@media (max-width: 1077px) {
  .video-card {
    width: 45%;
    max-width: 400px;
  }
}

@media (max-width: 680px) {
  .video-card {
    width: 95%;
    max-width: 400px;
    margin: 4px 0;
  }
  .video-card-thumbnail img {
    border-radius: 0;
  }
}

@media (max-width: 400px) {
  .video-card {
    width: 100%;
  }
  .video-card-thumbnail img {
    border-radius: 0;
  }
}
